<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application>
        <receiver android:name="com.copperleaf.ballast.scheduler.alarmmanager.BallastAlarmManagerScheduleWorker"/>
        <receiver android:name="com.copperleaf.ballast.scheduler.alarmmanager.BallastAlarmManagerBootCompletedWorker"
                  android:enabled="true"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
