# On pushes to docs, build the examples JS bundle and update Orchid documentation site.

name: 'Push to `docs` (Update documentation site)'

on:
  push:
    branches: ['docs']

jobs:
  publishDocumentationOnMacOs:
    runs-on: 'macos-latest'
    env:
      GITHUB_ACTOR: '${{ github.actor }}'
      GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
    steps:
      - uses: 'actions/checkout@v3'
        with:
          submodules: 'recursive'
          fetch-depth: 0 # all commit history and tags
      - name: 'Set up JDK 17'
        uses: 'actions/setup-java@v2'
        with:
          distribution: 'temurin'
          java-version: 17
      - name: 'Build example Compose Web site'
        run: './gradlew :examples:web:build --stacktrace -PreleaseDocs -PorchidEnvironment=prod'
      - name: 'Publish Documentation'
        run: './gradlew :docs:publish --stacktrace -PreleaseDocs -PorchidEnvironment=prod'
